@{
    ViewBag.Title = "Batalla";
    var guerillas = (WebGuerrillaFrontEnd.Models.Guerrillas)ViewData["guerrillas"];
}


    <div class="row align-items-center">
        <h2>Ataque</h2> 
        <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
            <div>
                <h4>Mi Guerrilla</h4>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Guerrilla</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Petróleo</th>
                            <th scope="col">Dinero</th>
                            <th scope="col">Personas</th>
                        </tr>
                    </thead>

                    <tr>
                        <td>@guerillas.GuerrillasC[0].Name</td>
						<td>@guerillas.GuerrillasC[0].Faction</td>
						<td>@guerillas.GuerrillasC[0].Resources.Oil</td>
						<td>@guerillas.GuerrillasC[0].Resources.Money</td>
						<td>@guerillas.GuerrillasC[0].Resources.People</td>

                    </tr>

                    @*<tbody>
                        @foreach (var item in ViewData.Model)

                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.personName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdAt)
                                </td>
                                <td>
                                    <a asp-page="./Ver más">
                                        @Html.ActionLink("Details", "Details", new { requestId = item.requestId })

                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>*@
                </table>

            </div>
            <div>
                <h4>Resultados</h4>
                <table class="table table-hover table-dark">
                    <thead>
						<tr>
							<th scope="col">Asaltos</th>
							<th scope="col">Ingenieros</th>
							<th scope="col">Tanques</th>
							<th scope="col">Trincheras</th>
						</tr>
                    </thead>

					<tr>
						<td>@guerillas.Results[0].Army.Assault</td>
						<td>@guerillas.Results[0].Army.Engineer</td>
						<td>@guerillas.Results[0].Army.Tank</td>
						<td>@guerillas.Results[0].Buildings.Bunker</td>
					</tr>
                </table>
            </div>
        </div>

        <div style="padding: 10px; float: right; width: 45%; text-align: justify;">
            <div>
                <h4>Datos del rival</h4>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Guerrilla</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Petróleo</th>
                            <th scope="col">Dinero</th>
                            <th scope="col">Personas</th>
                        </tr>
                    </thead>

					<tr>
						<td>@guerillas.GuerrillasC[1].Name</td>
						<td>@guerillas.GuerrillasC[1].Faction</td>
						<td>@guerillas.GuerrillasC[1].Resources.Oil</td>
						<td>@guerillas.GuerrillasC[1].Resources.Money</td>
						<td>@guerillas.GuerrillasC[1].Resources.People</td>

					</tr>

                    @*<tbody>
                        @foreach (var item in ViewData.Model)

                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.personName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdAt)
                                </td>
                                <td>
                                    <a asp-page="./Ver más">
                                        @Html.ActionLink("Details", "Details", new { requestId = item.requestId })

                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>*@
                </table>
            </div>
            <div>
                <h4>Resultados</h4>
                <table class="table table-hover table-dark">
                    <thead>
						<tr>
							<th scope="col">Asaltos</th>
							<th scope="col">Ingenieros</th>
							<th scope="col">Tanques</th>
							<th scope="col">Trincheras</th>
						</tr>
                    </thead>

					<tr>
						<td>@guerillas.Results[1].Army.Assault</td>
						<td>@guerillas.Results[1].Army.Engineer</td>
						<td>@guerillas.Results[1].Army.Tank</td>
						<td>@guerillas.Results[1].Buildings.Bunker</td>
					</tr>
                </table>
            </div>
        </div>
    </div>
    <div NAME="buttonbar">
        <INPUT class="bg-primary" TYPE="button" VALUE="Atrás" onClick="history.back()">
    </div>

