@using WebGuerrillaFrontEnd.Models
@model WebGuerrillaFrontEnd.Models.GuerrillaAll
@{
	ViewBag.Title = "Ranking";
	var guerrillas = (List<WebGuerrillaFrontEnd.Models.GuerrillaAll>)ViewData["guerrillas"];
	var guerrillaActual = (GuerrillaCompleted)ViewData["guerrillaActual"];
}



<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<h2>Ranking</h2>

	@using (Html.BeginForm("Ranking", "Home", FormMethod.Get))
	{
		<div class="form-actions no-color">
			<p>
				<div class="col-md-3 col-md-offset-0">
					Buscar por nombre:
					@Html.TextBoxFor(g => g.GuerrillaName, new { Class = "form-control", Type = "text" })
					Buscar por perfil:
					@Html.TextBoxFor(g => g.Faction, new { Class = "form-control", Type = "text" })
				</div>
				<div class="col-md-8 col-md-offset-4">
					<input type="submit" value="Buscar" class="btn btn-primary" /> |
					<a asp-page="./Index">@Html.ActionLink("Volver a la lista general", "Ranking", "Home")</a>
				</div>
			</p>
		</div>
	}

	<div>
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th scope="col">Rank</th>
					<th scope="col">Guerrilla</th>
					<th scope="col">Perfil</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var guerrilla in guerrillas)
				{
					if (guerrillaActual.Name != guerrilla.GuerrillaName)
					{
				<tr>
						<td>@Html.DisplayFor(m => guerrilla.Rank)</td>
						<td>@Html.DisplayFor(m => guerrilla.GuerrillaName)</td>
						<td>@Html.DisplayFor(m => guerrilla.Faction)</td>
						<td>@Html.ActionLink("Atacar", "Batalla", new { guerrillaEnemy = guerrilla.GuerrillaName, guerrillaSrc = guerrillaActual.Name })</td>

				</tr>
					}

				}

			</tbody>

		</table>

	</div>
	<div NAME="buttonbar">
		<INPUT class="bg-primary" TYPE="button" VALUE="Atrás" onClick="history.back()">
	</div>
</body>
</html>